.input-group {
    position: relative;
  }
  
  .input-group button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-group input[type="password"],
  .input-group input[type="email"],
  .input-group input[type="text"] {
    padding-right: 48px;
  }