.profile-page {
    min-height: 100vh;
  }
  
  .left-bar {
    background-color: #f8f9fa;
    padding: 30px;
  }
  
  .input-group {
    position: relative;
  }
  
  .input-group button {
    position: absolute;
    right: 0;
    top: 50%;
    transform: translateY(-50%);
  }
  
  .input-group input[type="password"],
  .input-group input[type="email"],
  .input-group input[type="text"] {
    padding-right: 48px;
  }
  
  .text-center img {
    margin-bottom: 20px;
  }
  
  @media (max-width: 767px) {
    .left-bar {
      margin-bottom: 30px;
    }
  }
 
  .fa-solid, .fas {
    font-weight: 900;
    color: #919aa1;
}
.list-group-item-light {
  color: #141313 !important;
  background-color:  #f8f9fa !important;
  font: size 16px !important;
}
.profile-page-form{
  display: flex;
  justify-content: center;
  align-items: center;
}
.input-group-text{
  background-color: #ffffff !important;
  color: #919aa1 !important;
}
.book-card:hover {
  transform: scale(1.05);
  transition: transform 0.2s ease-in-out;
}
