main{
    min-height: 80vh;
}
.banner-img{
    position: relative;
}
.banner-img::before{
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100;
    height: 100;
    background-color: rgb(0, 0, 0);
}
.custom-header {
    transition: 0.3s ease-in-out;
}
.custom-header.animated-nav {
    background-color: rgba(0,0,0,0.8);
    transform: scaleY(0.95);
    transform-origin: top;
}