name: CI CD Pipeline for UI Deployment

on:
  push:
    branches: ["main"]

jobs:
  build:
    runs-on: ubuntu-latest
    concurrency: ci-${{github.ref}}

    steps:
      - name: Setup Node.js and npm
        uses: actions/setup-node@v2
        id: setup-environment
        with:
          node-version: "16.16.0"
          npm-version: "8.11.0"

      - name: Checkout UI repository
        uses: actions/checkout@v2
        id: checkout-ui
        with:
          repository: uni-mart/unimart-ui
          ref: main
          path: ui

      - name: Install dependencies, build and preview UI
        working-directory: ui
        run: |
          npm install
          npm run build
          npm run preview &

      - name: Checkout UI-Automation repository
        uses: actions/checkout@v2
        id: checkout-ui-automation
        with:
          repository: uni-mart/unimart-ui-automation
          ref: main
          path: ui-automation

      - name: Run Cypress tests
        id: run-cypress-test
        working-directory: ui-automation
        run: |
          npm install
          npm run cy:runHeadless
          npm run cy:genReport
          ls -1 | xargs -n 1 echo

      - name: Deploy to GitHub Pages
        uses: peaceiris/actions-gh-pages@v3.7.0
        with:
          github_token: ${{ secrets.PERSONAL_TOKEN }}
          publish_dir: ui-automation/allure-report
          publish_branch: allure-report
          commit_message: Deployed Allure Report v.${{github.run_number}} to GitHub Pages

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKERHUB_USERNAME }}
          password: ${{ secrets.DOCKERHUB_PASSWORD }}

      - name: Build and push
        uses: docker/build-push-action@v4
        with:
          push: true
          tags: bitcode001/unimart/ui:${{github.run_number}}, bitcode001/unimart/ui:latest
